name: "Run Go tests"


on:
  push:
    branches: ["*"]
    tags: ["*"]


jobs:

  go-test:
    runs-on: "ubuntu-20.04"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Install Go"
        uses: "actions/setup-go@v2"
        with:
          go-version: "1.16.x"
      - name: "Run go test"
        run: "go test"
